@import 'vars.scss';

button, .btn {
	display: inline-block;
	background:$green;
	width: auto;
	color:#fff;
	padding: $buttonPadding;
	border-radius: $borderRadius;
	transition: all .25s ease-in-out;
	border:none;
	text-decoration:none;
	outline: none;
	margin-bottom: 4px;
	line-height: inherit;
	&:hover {
		filter: brightness(0.75) contrast(2.5) saturate(.8);
		border-bottom:0;
	}
}
.pad-btn {
	padding: $buttonPadding; // when you want an element to have the same padding as your buttons
}
.btn-wide {
	width:100%;
}
.btn-wide {
	width:100%;
}
.btn-small {
	padding: $buttonPaddingSmaller;
	font-size: $fontSizeSmaller;
}
.btn-large {
	padding: $buttonPadding2;
	font-size: $fontSize2;
}
.btn-huge {
	padding: $buttonPadding3;
	font-size: $fontSize3;
}