@import 'vars.scss';

dt, strong,.bold { font-weight:bold; }
em, .italic { font-style:italic; }
small,.text-small { font-size: $fontSizeSmall1; }
.text-small-2 { font-size: $fontSizeSmall2; }
.text-smaller { font-size: $fontSizeSmaller; }

.text-reg {font-weight: normal;}
.text-light { font-weight:200; }

.uppercase { text-transform:uppercase; }
.lowercase { text-transform:lowercase; }

.letter-space-1 { letter-spacing:1px; }