@import 'utilities.containers.scss';
@import 'utilities.typography.scss';
@import 'utilities.colors.scss';
@import 'vars.scss';

// Responsive Utilities Mixin
@import '_mixins/responsive-utilities.generator.scss';

/* Utilities */
.hidden { display:none !important; }
.transparent { opacity:0; }

.clickable { cursor:pointer; }

.clearfix:before,.clearfix:after { content:" ";display:table; }
.clearfix:after{ clear:both; }

.inline {
	display: inline-block;
	*display:inline;*zoom:1;
  width: auto;
}
.wide { width: 100%; }
.tall { height: 100%; }
.expand-v { min-height: 100vh; }

.pos-top {top:0;}
.pos-bottom {bottom:0;}
.pos-right {right:0;}
.pos-left {left:0;}

.overlay {z-index: 999999;}
.front {z-index:99999};
.front-1 {z-index:99998};
.front-2 {z-index:99997};

.rounded { border-radius: $borderRadius; }
.circle { border-radius: 50%; }

/* Responsive Utilities */
// Add all utility classes here in a mixin
@mixin responsiveUtilities($_prefix:''){

  .#{$_prefix}rel { position: relative; }
  .#{$_prefix}abs { position: absolute; }
  .#{$_prefix}float-none { float: none; }
  .#{$_prefix}float-right { float: right; }
  .#{$_prefix}float-left { float: left; }

  .#{$_prefix}text-center { text-align:center; }
  .#{$_prefix}text-left { text-align:left; }
  .#{$_prefix}text-right { text-align:right; }

  .#{$_prefix}text-dark { color:$dark; }

  .#{$_prefix}hidden { display: none; }

  .#{$_prefix}border-0 { border:none; }
  .#{$_prefix}border { border-style: solid; border-width:1px; border-color: rgba(0,0,0,.1); }
  .#{$_prefix}border-top { border-top-style: solid; border-width:1px; border-color: rgba(0,0,0,.1); }
  .#{$_prefix}border-bottom { border-bottom-style: solid; border-width:1px; border-color: rgba(0,0,0,.1); }
  .#{$_prefix}border-left { border-left-style: solid; border-width:1px; border-color: rgba(0,0,0,.1); }
  .#{$_prefix}border-right { border-right-style: solid; border-width:1px; border-color: rgba(0,0,0,.1); }
  .#{$_prefix}border-top-0 { border-top: none; }
  .#{$_prefix}border-bottom-0 { border-bottom: none; }
  .#{$_prefix}border-left-0 { border-left: none; }
  .#{$_prefix}border-right-0 { border-right: none; }

  // hide pseudo elements
  .#{$_prefix}before-hidden {  &:before { display: none;  }}
  .#{$_prefix}after-hidden {  &:after { display: none;  }}
}
@include responsiveUtilitiesGenerator();

.border-dashed { border-style: dashed; }
.border-dotted { border-style: dotted; }
@for $i from 1 through length($colors) {
  $name: nth($colorNames, $i);
  $color: nth($colors, $i);
  .border-#{$name} { border-color: $color; }
}
.shadow { box-shadow: 0px 0px 20px 0px rgba(0,0,0,.1); }