/* Containers */
.div-320 {
  max-width: 320px; }

.div-400 {
  max-width: 400px; }

.div-480 {
  max-width: 480px; }

.div-560 {
  max-width: 560px; }

.div-640 {
  max-width: 640px; }

.div-720 {
  max-width: 720px; }

.div-800 {
  max-width: 800px; }

.div-960 {
  max-width: 960px; }

.div-1100 {
  max-width: 1100px; }

.div-1200 {
  max-width: 1200px; }

.div-c {
  margin-left: auto;
  margin-right: auto; }

.text-light {
  font-weight: 200; }

/* Color Utils */
.bgr-blue-lt {
  background-color: #75c5df; }

.bgr-blue {
  background-color: #287dbe; }

.bgr-blue-dk {
  background-color: #384992; }

.bgr-green {
  background-color: #9fc74d; }

.bgr-green-dk {
  background-color: #5bb12f; }

.bgr-white {
  background-color: #fff; }

.bgr-grey-lt {
  background-color: #ececec; }

.bgr-grey {
  background-color: #999; }

.bgr-pink {
  background-color: #ec66a2; }

.bgr-purple {
  background-color: #9e579e; }

.bgr-red {
  background-color: #cd242a; }

.text-blue-lt {
  color: #75c5df; }

.text-blue {
  color: #287dbe; }

.text-blue-dk {
  color: #384992; }

.text-green {
  color: #9fc74d; }

.text-green-dk {
  color: #5bb12f; }

.text-white {
  color: #fff; }

.text-grey-lt {
  color: #ececec; }

.text-grey {
  color: #999; }

.text-pink {
  color: #ec66a2; }

.text-purple {
  color: #9e579e; }

.text-red {
  color: #cd242a; }

/* Utilities */
.hidden {
  display: none !important; }

.transparent {
  opacity: 0; }

/* group = clearfix */
.group:before, .group:after {
  content: " ";
  display: table; }

.group:after {
  clear: both; }

.inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: auto; }

.wide {
  width: 100%; }

.rel {
  position: relative; }

.abs {
  position: absolute; }

.pad-btn {
  padding: 4px 8px; }

.rounded {
  border-radius: 4px; }

.border {
  border: solid 1px rgba(0, 0, 0, 0.1); }

.border-green {
  border: solid 1px #9fc74d; }

.border-white {
  border: solid 1px #fff; }

.border-bottom {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1); }

.border-dashed {
  border-style: dashed; }

/* Responsive Utilities */
.float-none {
  float: none; }

.float-right {
  float: right; }

.float-left {
  float: right; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.hidden {
  display: none; }

.border-left-0 {
  border-left: none; }

.border-top-0 {
  border-top: none; }

@media (max-width: 480px) {
  .s-float-none {
    float: none; }
  .s-float-right {
    float: right; }
  .s-float-left {
    float: right; }
  .s-text-center {
    text-align: center; }
  .s-text-left {
    text-align: left; }
  .s-text-right {
    text-align: right; }
  .s-hidden {
    display: none; }
  .s-border-left-0 {
    border-left: none; }
  .s-border-top-0 {
    border-top: none; } }

@media (min-width: 481px) and (max-width: 800px) {
  .m-float-none {
    float: none; }
  .m-float-right {
    float: right; }
  .m-float-left {
    float: right; }
  .m-text-center {
    text-align: center; }
  .m-text-left {
    text-align: left; }
  .m-text-right {
    text-align: right; }
  .m-hidden {
    display: none; }
  .m-border-left-0 {
    border-left: none; }
  .m-border-top-0 {
    border-top: none; } }

@media (min-width: 801px) {
  .l-float-none {
    float: none; }
  .l-float-right {
    float: right; }
  .l-float-left {
    float: right; }
  .l-text-center {
    text-align: center; }
  .l-text-left {
    text-align: left; }
  .l-text-right {
    text-align: right; }
  .l-hidden {
    display: none; }
  .l-border-left-0 {
    border-left: none; }
  .l-border-top-0 {
    border-top: none; } }
